.subcribe {
    &-container {
        background-color: #fff;
        border-radius: 10px;
        padding: 58.5px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 30px 114px 0 rgba(13, 16, 37, 0.06);
    }

    &-content {
        max-width: 370px;
    }
}

@media (min-width: 1024px) {
    .subcribe {
        transform: translateY(50%);
    }
}

@media (max-width: 1023px) {
    .subcribe-container {
        padding: 40px;
    }
}

@media (max-width: 739px) {
    .subcribe-container {
        flex-direction: column;
        gap: 40px 0;
    }
}